<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/b114d8de0c.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table">
    <tr>
        <th>NAME</th>
        <th>EMAIL</th>
        <th>DATE</th>
        <th>TIME</th>
        <th>DEPARTMENT</th>
        <th>AMOUNT</th>
        <th>PAYMENT</th>
    </tr>
    <tr>
        <td>{{ab}}</td>
        <td>{{ac}}</td>
        <td>{{ad}}</td>
        <td>{{ae}}</td>
        <td>{{af}}</td>
        <td>{{ag}}</td>
        <td><a class="btn btn-success" href="http://127.0.0.1:8000/labapp/payment/{{ag}}">PAYMENT</a></td>

    </tr>
</table>

</body>
</html>